:root {
    --h1size: 50px;
    --h2size: 28px;
    --h3size: 24px;
    --h4size: 20px;
    --h5size: 18px;
    --h6size: 16px;
    --bodysize: 16px;
    --rweight: 400;
    --mweight: 500;
    --sweight: 600;
    --bweight: 700;
    --eweight: 800;
    --bcweight: 900;
    --pfamily: 'Heebo', sans-serif;
    --sfamily: 'Playfair Display', serif;
    --textcolor: #555555;
    --brandcolor: #49a010;
    --whitecolor: #ffffff;
    --headingcolor: #232d3b;
    --headerborder: #009222;
    --navbarcolor: #ddffd5;
    --bordercolor: #e8e8e8;
    --graycolor: #f5f5f5;
    --pldrcolor: #777777;
    --starcolor: #ffcc23;
    --removecolor: #ff3838;
    --brandlight: #65ff00;
    --bshadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
    --bcardshadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    --biconshadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
    --tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: var(--h3size);
    font-weight: var(--bweight);
    font-family: var(--sfamily);
    color: var(--headingcolor);
}
h5 {
    font-size: var(--h5size);
    font-weight: var(--mweight);
    font-family: var(--pfamily);
    color: var(--headingcolor);
}
h1, h2, h3{
    text-transform: capitalize;
}
a:hover, a:focus, a:active {
    color: #3a7f0d;
}
.slider__activation__02 .owl-dots{
	/*margin-top: -20px !important;*/
	/*background:red;*/
	position: absolute;
	top: 94%;
	left: 50%;
	transform: translate(-50%, 0px);
}

.slider__activation__02 .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    background: #000 !important;
}

.slider__activation__02 .owl-dots .active span {
    background: red !important;
    width: 30px;
    height: 10px;
}

.product-card {
    border-radius: 3px;
    border: none;
}

.product-card:hover {
    -webkit-box-shadow: 0px 8px 15px 0px rgb(0 0 0 / 10%);
    box-shadow: 0px 8px 15px 0px rgb(0 0 0 / 10%);
}
.product-card .product-img {
    height: 220px;
}
.product-card .product-img img{
    max-height: 240px;
    height: 100%;
}
.product-btn a {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 0px;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #49a010;
    border: 1px solid #49a010;
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.product-btn i {
    margin-top: -2px;
    margin-right: 8px;
}

.product-price {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 30px;
}

.product-price h6 {
    letter-spacing: -0.5px;
    color: #555555;
}

.product-price h6 del {
    color: #49a010;
    font-size: 16px;
    margin-right: 5px;
}

.product-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.product-rating i {
    color: #ffcc23;
    font-size: 15px;
    margin-right: 5px;
}

.product-rating span {
    color: #555555;
    font-size: 15px;
    font-weight: 500;
}

.product-name h3 {
    font-weight: 500;
    margin-bottom: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 34px;
}

.product-name h6 a {
    color: #232d3b;
}

.product-card:hover .product-name h3 {
    color: #49a010;
}
.single__pro{
	overflow: hidden;
	position: relative;
    padding: 5px;
}

.single__pro .product__details {
    position: static;
}

.single__pro .product__details h2 {
    color: #000 !important;
    font-weight: bold !important;
    font-size: 16px !important;
    text-transform: capitalize;
}

.single__pro .product__details span {
    color: #000 !important;
    font-weight: bold !important;
    font-size: 14px !important;
}

.single__pro .product__details .old__prize {
    color: #6c757d!important;
}

.single__pro .offer {
    position: absolute;
    top: 5px;
    right: 20px;
    /*background:red;*/
    padding: 1px 5px;
    color: #fff;
    font-size: 14px;
}

.find-more-btn {
    padding: 7px 25px;
    background: #dc3545;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
}

.find-more-btn:hover {
    color: #333;
}

.requerd-input {
    border: 1px solid red !important;
}

#pagination {
    margin-top: 20px;
    background: red;
    position: relative;
}

#pagination ul {}

#pagination ul li:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}

#pagination ul li:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
}

#pagination ul li .page-link {
    background: #49a010;
    color: #fff;
    border-radius: 0px;
    border: 0px;
}

#pagination ul li .page-link:hover {
    background: #000;
}

#pagination ul .disabled .page-link {
    background: gray;
}

.white-bg-padding {
    background-color: #fff !important;
    box-sizing: border-box !important;
    padding: 15px !important;
}

.add-wishlist:hover {
    color: #49a010!important;
    cursor: pointer;
}

.add-wishlist.active {
    color: #49a010!important;
}
.single-banner{
    position: relative;
    z-index: 1;
}
.single-banner::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 186, 71, 0.3)), to(rgba(85, 172, 65, 0.2)));
    background: linear-gradient(rgb(19 66 8 / 65%), rgb(29 88 16 / 92%));
    z-index: -1;
}
.product-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.product-share h5 {
    margin-right: 15px;
}
.product-share ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.product-share ul li {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: var(--textcolor);
    border-radius: 3px;
    -webkit-box-shadow: var(--bshadow);
    box-shadow: var(--bshadow);
    text-align: center;
}

.icon {
    font-size: 14px;
    text-align: center;
    text-shadow: var(--tshadow);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    display: block;
}

.icon-inline {
    color: var(--whitecolor);
}
.pro__dtl__prize li.old__prize{
    font-size: 18px;
    color: var(--brandcolor);
    padding-right: 0px;
}
.pro__dtl__prize li {
    font-size: 28px;
    font-weight: 600;
    font-family: sans-serif;
    color: var(--headingcolor);
}
.pro__dtl__prize {
    margin-bottom: 10px;
    margin-top: 10px;
}
.pro__details {
    margin-top: 20px;
    border-bottom: 1px solid var(--bordercolor);
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.product-action-wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}
.button-quantity{
    display: flex;
}
.button-quantity .button-section, .button-quantity  .product-action-wrap{
    width: 50%;
    height: 44px;
}
.button-quantity .qtybutton{
    cursor: pointer;
    width: 24px;
    height: 24px;
    text-align: center;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
}
.product__deatils__tab li a::before {
    background: #49a010 none repeat scroll 0 0;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary:hover {
    color: #fff;
    background-color: #397e0c;
    border-color: #397e0c!important;
}
.login-card .btn, .register-card .btn{
    padding: 7px 35px!important;
}

#notificaton-div{
    width: 300px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    left: calc(50% - 150px);
    z-index: 1000;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #8c8c8c;
    color:#fff;
    font-size: 17px;
    display: none;
}
.cart-side{
    position: fixed;
    top: 50%;
    right: 0%;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    z-index: 1000;
    background: red;
    background: white;
    box-shadow: 0px 0px 1px 1px #dadada;
    display: none;
}
#scroll-search #inlineFormInputGroupUsername{
    height: 45px;
    border: none;
    outline: none;
    border-radius: 3px;
    background: #ffffff;
    padding: 0px 150px 0px 20px;
}
#scroll-search #inlineFormInputGroupUsername:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn{
    font-weight: bold;
    color: #fff;
    padding: 0px 20px;
}
.btn-success{
    background: #49a010;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #49a010;
    border-color: #3e890c;
}
.btn-outline-success {
    color: #49a010;
}
#my_slider .single-slide {
    border:1px solid #dc3545;
}

.customer-dashboard{
    background: #ffffff;
}

.customer-dashboard .nav{
    background: #ffffff;
    border: none;
}
.customer-dashboard .nav-item{
    border-radius: 0px;    
}
.customer-dashboard .nav-link{
    border: none;
}
.customer-dashboard-header{
    border-bottom: 1px solid #dee2e6;
}
.customer-dashboard .nav-tabs .nav-link:focus, .customer-dashboard .nav-tabs .nav-link:hover, .customer-dashboard .nav-link.active {
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #49a010;
    color: #49a010;
    transition: none;
}
.title {
    position: relative;
    width: fit-content;
    line-height: 1.2;
}
.title::before {
    position: absolute;
    content: "";
    top: 50%;
    right: -80px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60px;
    height: 2px;
    border-radius: 30px;
    background: var(--brandcolor);
}

.title::after {
    position: absolute;
    content: "";
    top: 70%;
    right: -55px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 35px;
    height: 2px;
    border-radius: 30px;
    background: var(--brandcolor);
}


@media (max-width: 575px){
    .product-card .product-img{
        height: 150px;
    }
    .button-quantity{
        display: block;
    }
    .button-quantity .button-section, .button-quantity .product-action-wrap{
        width: 100%;
    }
    .puick-contact-area {
        width: 100%;
    }
  }
  
